[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qmlwebsocketclient
Exec=/opt/qmlwebsocketclient/bin/qmlwebsocketclient
Icon=qmlwebsocketclient64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
