[access]
	inheritFrom = All-Playground-Projects
[project]
	description = git clone ssh://<USER>@codereview.qt-project.org:29418/playground/websockets.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Qt WebSockets Owners
	submit = group Qt WebSockets Owners
