[access]
	inheritFrom = All-Non-CI-Playground-Projects
[project]
	description = git clone ssh://<USER>@codereview.qt-project.org:29418/playground/websockets.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
